.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    position: relative;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    background-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #0C0506;
}

.portfolio__item h3 {
    margin: 1.2rem 0 1rem;
}

.portfolio__item small {
    font-size:0.8rem;
    color: var(--color-light);
}

.portfolio__item-cta {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/* ==================== Media Queries (MEDIUM DEVICES) ==================== */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ==================== Media Queries (SMALL DEVICES) ==================== */

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}